.price-cheap-current {
  border-left: 4px solid var(--bs-success);
}

.price-expensive-current {
  border-left: 4px solid var(--bs-danger);
}

.price-current {
  border-left: 4px solid var(--bs-primary);
}
